html {
  background:     #DDD;
}
body {
  background:     #EEE;
  border:         5px solid #FFF;
  border-radius:  0 0 5px 5px;
  font:           16px/1.5 Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  margin:         0 auto 1em;
  padding:        1em;
  width:          600px;

  -webkit-box-shadow: 0 0 10px rgba( 0, 0, 0, 0.75 );
  -moz-box-shadow: 0 0 10px rgba( 0, 0, 0, 0.75 );
  box-shadow: 0 0 10px rgba( 0, 0, 0, 0.75 );
}

.offscreen {
  position: absolute;
  left:     -999em;
}

h1 {
  font: 43px/1.35 Baskerville, Times, 'Times New Roman', serif;
}
  h1 code {
    display:    block;
    font-size:  71px;
  }
  h1 a {
    color:            #000;
    text-decoration:  none;
  }

h2 {
  font: 25px/1.35 Baskerville, Times, 'Times New Roman', serif;
  margin: 1em 0;
}

p {
  margin: 1em 0;
}

ol,ul {
    padding-left:   20px;
}
    ol li {
        list-style: decimal outside;
    }
    ul li {
        list-style: disc outside;
    }

a {
  color:  #4183C4;
}

/**
 *  Actions
 */
.actions {
  display:  block;
  overflow: hidden;
  padding:  1em 5px;
}
  .actions li {
    list-style: none;
    float:      left;
  }
    .actions li:last-child {
      float:  right;
    }

    .cta {
      background:       #495961;
      border-radius:    5px;
      color:            #FFF;
      font-weight:      700;
      font-size:        18px;
      padding:          5px 10px;
      text-decoration:  none;

      -webkit-box-shadow: 0 0 3px rgba( 0, 0, 0, 0.75 );
      -moz-box-shadow: 0 0 3px rgba( 0, 0, 0, 0.75 );
      box-shadow: 0 0 3px rgba( 0, 0, 0, 0.75 );

      -webkit-transition: all 0.2s ease-out;
    }
      .cta:hover {
        background: #4183C4;
      }

/**
 *  Code samples
 */
pre {
  background:   #EAF2F5;
  border:       1px solid #BEDCE7;
  border-width: 1px 0;
  margin:       1em -1em;
  padding:      1em;
  overflow-x:   auto;
  overflow-y:   hidden;
}
