<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css" href="./reset-fonts.css">
    <link rel="stylesheet" type="text/css" href="./core.css">
  </head>
  <body {% if page.bodyclass %}class="{{ page.bodyclass }}"{% endif %}>
    <h1><a href="/" rel="home"><code>static_gettext</code></a><span class="offscreen">: </span>Localization for Static Documents</h1>
    <ul class="actions">
      <li><a href="http://github.com/mikewest/static_gettext/tarball/v0.9" class="cta">Download current version (v0.9)</a></li> 
      <li><a href="http://github.com/mikewest/static_gettext" class="cta">Source code on GitHub</a></li> 
    </ul>

    {{ content }}
    
    <ul class="usage" role="navigation">
      <li><a href="./install.html">Installation</a></li>
      <li><a href="./markup.html">Marking translatable strings</a></li>
      <li><a href="./extraction.html">Message file generation</a></li>
      <li><a href="./build.html">Generating target-language localizations</a></li>
      <li><a href="./cli.html">Command line usage</a></li>
    </ul>
    <small>&copy;2010 <a href="http://mikewest.org/">Mike West</a>: Project source is <a href="http://github.com/mikewest/static_gettext/blob/master/LICENSE.markdown" rel="license">BSD licensed</a>, and <a href="http://github.com/mikewest/static_gettext">available on GitHub</a></small>
  </body>
</html>
